In [1]:
import tensorflow as tf
from tensorflow import keras
import numpy as np
import pandas as pd
# Pretty Print
import pprint

In [2]:
# Data Preprocessing:

# Read the data
# The data is separated by semi colons.
# We need to specify the dtype=None and encoding, otherwise Numpy is going to 
# complain.
dataset = np.genfromtxt('Telemarketing Dataset/bank-additional-full.csv',
                       delimiter=";", dtype= None,
                       encoding = "UTF-8")

# The headers are in the first column
column_headers = dataset[0]

# We then remove the headers from the dataset. Which are in 
# the first row of the array
dataset = np.delete(dataset, [0], axis = 0)

# Displays the Data Set for Pandas.
pandas_dataset_display = dataset

# There are binary lables. Found in the last column
dataset_labels = dataset[:, -1]
# One liner to convert "yes" to 1 and "no" to zero
# Can't do if/ else => 1 if dataset_labels == "yes" else 0 
dataset_labels = (dataset_labels == "yes") * 1

# We remove the last column:
# We specify the last axis, -1 and apply numpy.s_ to "build up index tuples for arrays"
# dataset = np.delete(dataset, np.s_[-1:], axis = 1)
# I like this better:
dataset = np.delete(dataset, -1, axis = 1)

# Verifies that the last column has been removed
print(dataset[:, -1])
print(dataset_labels)

['5191' '5191' '5191' ... '4963.6' '4963.6' '4963.6']
[0 0 0 ... 0 0 0]

In [3]:
# Visualize the data with Pandas
pd.DataFrame(pandas_dataset_display, columns=column_headers)

,"""age""","""job""","""marital""","""education""","""default""","""housing""","""loan""","""contact""","""month""","""day_of_week""",...,"""campaign""","""pdays""","""previous""","""poutcome""","""emp.var.rate""","""cons.price.idx""","""cons.conf.idx""","""euribor3m""","""nr.employed""","""y"""
0,56,"""housemaid""","""married""","""basic.4y""","""no""","""no""","""no""","""telephone""","""may""","""mon""",...,1,999,0,"""nonexistent""",1.1,93.994,-36.4,4.857,5191,"""no"""
1,57,"""services""","""married""","""high.school""","""unknown""","""no""","""no""","""telephone""","""may""","""mon""",...,1,999,0,"""nonexistent""",1.1,93.994,-36.4,4.857,5191,"""no"""
2,37,"""services""","""married""","""high.school""","""no""","""yes""","""no""","""telephone""","""may""","""mon""",...,1,999,0,"""nonexistent""",1.1,93.994,-36.4,4.857,5191,"""no"""
3,40,"""admin.""","""married""","""basic.6y""","""no""","""no""","""no""","""telephone""","""may""","""mon""",...,1,999,0,"""nonexistent""",1.1,93.994,-36.4,4.857,5191,"""no"""
4,56,"""services""","""married""","""high.school""","""no""","""no""","""yes""","""telephone""","""may""","""mon""",...,1,999,0,"""nonexistent""",1.1,93.994,-36.4,4.857,5191,"""no"""
5,45,"""services""","""married""","""basic.9y""","""unknown""","""no""","""no""","""telephone""","""may""","""mon""",...,1,999,0,"""nonexistent""",1.1,93.994,-36.4,4.857,5191,"""no"""
6,59,"""admin.""","""married""","""professional.course""","""no""","""no""","""no""","""telephone""","""may""","""mon""",...,1,999,0,"""nonexistent""",1.1,93.994,-36.4,4.857,5191,"""no"""
7,41,"""blue-collar""","""married""","""unknown""","""unknown""","""no""","""no""","""telephone""","""may""","""mon""",...,1,999,0,"""nonexistent""",1.1,93.994,-36.4,4.857,5191,"""no"""
8,24,"""technician""","""single""","""professional.course""","""no""","""yes""","""no""","""telephone""","""may""","""mon""",...,1,999,0,"""nonexistent""",1.1,93.994,-36.4,4.857,5191,"""no"""
9,25,"""services""","""single""","""high.school""","""no""","""yes""","""no""","""telephone""","""may""","""mon""",...,1,999,0,"""nonexistent""",1.1,93.994,-36.4,4.857,5191,"""no"""
10,41,"""blue-collar""","""married""","""unknown""","""unknown""","""no""","""no""","""telephone""","""may""","""mon""",...,1,999,0,"""nonexistent""",1.1,93.994,-36.4,4.857,5191,"""no"""
11,25,"""services""","""single""","""high.school""","""no""","""yes""","""no""","""telephone""","""may""","""mon""",...,1,999,0,"""nonexistent""",1.1,93.994,-36.4,4.857,5191,"""no"""
12,29,"""blue-collar""","""single""","""high.school""","""no""","""no""","""yes""","""telephone""","""may""","""mon""",...,1,999,0,"""nonexistent""",1.1,93.994,-36.4,4.857,5191,"""no"""
13,57,"""housemaid""","""divorced""","""basic.4y""","""no""","""yes""","""no""","""telephone""","""may""","""mon""",...,1,999,0,"""nonexistent""",1.1,93.994,-36.4,4.857,5191,"""no"""
14,35,"""blue-collar""","""married""","""basic.6y""","""no""","""yes""","""no""","""telephone""","""may""","""mon""",...,1,999,0,"""nonexistent""",1.1,93.994,-36.4,4.857,5191,"""no"""
15,54,"""retired""","""married""","""basic.9y""","""unknown""","""yes""","""yes""","""telephone""","""may""","""mon""",...,1,999,0,"""nonexistent""",1.1,93.994,-36.4,4.857,5191,"""no"""
16,35,"""blue-collar""","""married""","""basic.6y""","""no""","""yes""","""no""","""telephone""","""may""","""mon""",...,1,999,0,"""nonexistent""",1.1,93.994,-36.4,4.857,5191,"""no"""
17,46,"""blue-collar""","""married""","""basic.6y""","""unknown""","""yes""","""yes""","""telephone""","""may""","""mon""",...,1,999,0,"""nonexistent""",1.1,93.994,-36.4,4.857,5191,"""no"""
18,50,"""blue-collar""","""married""","""basic.9y""","""no""","""yes""","""yes""","""telephone""","""may""","""mon""",...,1,999,0,"""nonexistent""",1.1,93.994,-36.4,4.857,5191,"""no"""
19,39,"""management""","""single""","""basic.9y""","""unknown""","""no""","""no""","""telephone""","""may""","""mon""",...,1,999,0,"""nonexistent""",1.1,93.994,-36.4,4.857,5191,"""no"""
20,30,"""unemployed""","""married""","""high.school""","""no""","""no""","""no""","""telephone""","""may""","""mon""",...,1,999,0,"""nonexistent""",1.1,93.994,-36.4,4.857,5191,"""no"""
21,55,"""blue-collar""","""married""","""basic.4y""","""unknown""","""yes""","""no""","""telephone""","""may""","""mon""",...,1,999,0,"""nonexistent""",1.1,93.994,-36.4,4.857,5191,"""no"""
22,55,"""retired""","""single""","""high.school""","""no""","""yes""","""no""","""telephone""","""may""","""mon""",...,1,999,0,"""nonexistent""",1.1,93.994,-36.4,4.857,5191,"""no"""
23,41,"""technician""","""single""","""high.school""","""no""","""yes""","""no""","""telephone""","""may""","""mon""",...,1,999,0,"""nonexistent""",1.1,93.994,-36.4,4.857,5191,"""no"""
24,37,"""admin.""","""married""","""high.school""","""no""","""yes""","""no""","""telephone""","""may""","""mon""",...,1,999,0,"""nonexistent""",1.1,93.994,-36.4,4.857,5191,"""no"""
25,35,"""technician""","""married""","""university.degree""","""no""","""no""","""yes""","""telephone""","""may""","""mon""",...,1,999,0,"""nonexistent""",1.1,93.994,-36.4,4.857,5191,"""no"""
26,59,"""technician""","""married""","""unknown""","""no""","""yes""","""no""","""telephone""","""may""","""mon""",...,1,999,0,"""nonexistent""",1.1,93.994,-36.4,4.857,5191,"""no"""
27,39,"""self-employed""","""married""","""basic.9y""","""unknown""","""no""","""no""","""telephone""","""may""","""mon""",...,1,999,0,"""nonexistent""",1.1,93.994,-36.4,4.857,5191,"""no"""
28,54,"""technician""","""single""","""university.degree""","""unknown""","""no""","""no""","""telephone""","""may""","""mon""",...,2,999,0,"""nonexistent""",1.1,93.994,-36.4,4.857,5191,"""no"""
29,55,"""unknown""","""married""","""university.degree""","""unknown""","""unknown""","""unknown""","""telephone""","""may""","""mon""",...,1,999,0,"""nonexistent""",1.1,93.994,-36.4,4.857,5191,"""no"""
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41158,35,"""technician""","""divorced""","""basic.4y""","""no""","""no""","""no""","""cellular""","""nov""","""tue""",...,1,999,0,"""nonexistent""",-1.1,94.767,-50.8,1.035,4963.6,"""yes"""
41159,35,"""technician""","""divorced""","""basic.4y""","""no""","""yes""","""no""","""cellular""","""nov""","""tue""",...,1,9,4,"""success""",-1.1,94.767,-50.8,1.035,4963.6,"""yes"""
41160,33,"""admin.""","""married""","""university.degree""","""no""","""no""","""no""","""cellular""","""nov""","""tue""",...,1,999,0,"""nonexistent""",-1.1,94.767,-50.8,1.035,4963.6,"""yes"""
41161,33,"""admin.""","""married""","""university.degree""","""no""","""yes""","""no""","""cellular""","""nov""","""tue""",...,1,999,1,"""failure""",-1.1,94.767,-50.8,1.035,4963.6,"""no"""
41162,60,"""blue-collar""","""married""","""basic.4y""","""no""","""yes""","""no""","""cellular""","""nov""","""tue""",...,2,4,1,"""success""",-1.1,94.767,-50.8,1.035,4963.6,"""no"""
41163,35,"""technician""","""divorced""","""basic.4y""","""no""","""yes""","""no""","""cellular""","""nov""","""tue""",...,3,4,2,"""success""",-1.1,94.767,-50.8,1.035,4963.6,"""yes"""
41164,54,"""admin.""","""married""","""professional.course""","""no""","""no""","""no""","""cellular""","""nov""","""tue""",...,2,10,1,"""success""",-1.1,94.767,-50.8,1.035,4963.6,"""yes"""
41165,38,"""housemaid""","""divorced""","""university.degree""","""no""","""no""","""no""","""cellular""","""nov""","""wed""",...,2,999,0,"""nonexistent""",-1.1,94.767,-50.8,1.03,4963.6,"""yes"""
41166,32,"""admin.""","""married""","""university.degree""","""no""","""no""","""no""","""telephone""","""nov""","""wed""",...,1,999,1,"""failure""",-1.1,94.767,-50.8,1.03,4963.6,"""yes"""
41167,32,"""admin.""","""married""","""university.degree""","""no""","""yes""","""no""","""cellular""","""nov""","""wed""",...,3,999,0,"""nonexistent""",-1.1,94.767,-50.8,1.03,4963.6,"""no"""
41168,38,"""entrepreneur""","""married""","""university.degree""","""no""","""no""","""no""","""cellular""","""nov""","""wed""",...,2,999,0,"""nonexistent""",-1.1,94.767,-50.8,1.03,4963.6,"""no"""
41169,62,"""services""","""married""","""high.school""","""no""","""yes""","""no""","""cellular""","""nov""","""wed""",...,5,999,0,"""nonexistent""",-1.1,94.767,-50.8,1.03,4963.6,"""no"""
41170,40,"""management""","""divorced""","""university.degree""","""no""","""yes""","""no""","""cellular""","""nov""","""wed""",...,2,999,4,"""failure""",-1.1,94.767,-50.8,1.03,4963.6,"""no"""
41171,33,"""student""","""married""","""professional.course""","""no""","""yes""","""no""","""telephone""","""nov""","""thu""",...,1,999,0,"""nonexistent""",-1.1,94.767,-50.8,1.031,4963.6,"""yes"""
41172,31,"""admin.""","""single""","""university.degree""","""no""","""yes""","""no""","""cellular""","""nov""","""thu""",...,1,999,0,"""nonexistent""",-1.1,94.767,-50.8,1.031,4963.6,"""yes"""
41173,62,"""retired""","""married""","""university.degree""","""no""","""yes""","""no""","""cellular""","""nov""","""thu""",...,1,999,2,"""failure""",-1.1,94.767,-50.8,1.031,4963.6,"""yes"""
41174,62,"""retired""","""married""","""university.degree""","""no""","""yes""","""no""","""cellular""","""nov""","""thu""",...,1,1,6,"""success""",-1.1,94.767,-50.8,1.031,4963.6,"""yes"""
41175,34,"""student""","""single""","""unknown""","""no""","""yes""","""no""","""cellular""","""nov""","""thu""",...,1,999,2,"""failure""",-1.1,94.767,-50.8,1.031,4963.6,"""no"""
41176,38,"""housemaid""","""divorced""","""high.school""","""no""","""yes""","""yes""","""cellular""","""nov""","""thu""",...,1,999,0,"""nonexistent""",-1.1,94.767,-50.8,1.031,4963.6,"""no"""
41177,57,"""retired""","""married""","""professional.course""","""no""","""yes""","""no""","""cellular""","""nov""","""thu""",...,6,999,0,"""nonexistent""",-1.1,94.767,-50.8,1.031,4963.6,"""no"""
41178,62,"""retired""","""married""","""university.degree""","""no""","""no""","""no""","""cellular""","""nov""","""thu""",...,2,6,3,"""success""",-1.1,94.767,-50.8,1.031,4963.6,"""yes"""
41179,64,"""retired""","""divorced""","""professional.course""","""no""","""yes""","""no""","""cellular""","""nov""","""fri""",...,3,999,0,"""nonexistent""",-1.1,94.767,-50.8,1.028,4963.6,"""no"""
41180,36,"""admin.""","""married""","""university.degree""","""no""","""no""","""no""","""cellular""","""nov""","""fri""",...,2,999,0,"""nonexistent""",-1.1,94.767,-50.8,1.028,4963.6,"""no"""
41181,37,"""admin.""","""married""","""university.degree""","""no""","""yes""","""no""","""cellular""","""nov""","""fri""",...,1,999,0,"""nonexistent""",-1.1,94.767,-50.8,1.028,4963.6,"""yes"""
41182,29,"""unemployed""","""single""","""basic.4y""","""no""","""yes""","""no""","""cellular""","""nov""","""fri""",...,1,9,1,"""success""",-1.1,94.767,-50.8,1.028,4963.6,"""no"""
41183,73,"""retired""","""married""","""professional.course""","""no""","""yes""","""no""","""cellular""","""nov""","""fri""",...,1,999,0,"""nonexistent""",-1.1,94.767,-50.8,1.028,4963.6,"""yes"""
41184,46,"""blue-collar""","""married""","""professional.course""","""no""","""no""","""no""","""cellular""","""nov""","""fri""",...,1,999,0,"""nonexistent""",-1.1,94.767,-50.8,1.028,4963.6,"""no"""
41185,56,"""retired""","""married""","""university.degree""","""no""","""yes""","""no""","""cellular""","""nov""","""fri""",...,2,999,0,"""nonexistent""",-1.1,94.767,-50.8,1.028,4963.6,"""no"""
41186,44,"""technician""","""married""","""professional.course""","""no""","""no""","""no""","""cellular""","""nov""","""fri""",...,1,999,0,"""nonexistent""",-1.1,94.767,-50.8,1.028,4963.6,"""yes"""
41187,74,"""retired""","""married""","""professional.course""","""no""","""yes""","""no""","""cellular""","""nov""","""fri""",...,3,999,1,"""failure""",-1.1,94.767,-50.8,1.028,4963.6,"""no"""

In [4]:
# Alternative Analysis from Pandas:
# https://www.datacamp.com/community/tutorials/categorical-data
pandas_csv = pd.read_csv('Telemarketing Dataset/bank-additional-full.csv',
                        delimiter=";")
print(pandas_csv.info())
pandas_csv.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41188 entries, 0 to 41187
Data columns (total 21 columns):
age               41188 non-null int64
job               41188 non-null object
marital           41188 non-null object
education         41188 non-null object
default           41188 non-null object
housing           41188 non-null object
loan              41188 non-null object
contact           41188 non-null object
month             41188 non-null object
day_of_week       41188 non-null object
duration          41188 non-null int64
campaign          41188 non-null int64
pdays             41188 non-null int64
previous          41188 non-null int64
poutcome          41188 non-null object
emp.var.rate      41188 non-null float64
cons.price.idx    41188 non-null float64
cons.conf.idx     41188 non-null float64
euribor3m         41188 non-null float64
nr.employed       41188 non-null float64
y                 41188 non-null object
dtypes: float64(5), int64(5), object(11)
memory usage: 6.6+ MB
None

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y
0,56,housemaid,married,basic.4y,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
1,57,services,married,high.school,unknown,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
2,37,services,married,high.school,no,yes,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
3,40,admin.,married,basic.6y,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
4,56,services,married,high.school,no,no,yes,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no

In [5]:
# pandas_csv.boxplot('pdays', 'emp.var.rate')
pandas_obj = pandas_csv.select_dtypes(include=['object']).copy()
pandas_obj.head()

,job,marital,education,default,housing,loan,contact,month,day_of_week,poutcome,y
0,housemaid,married,basic.4y,no,no,no,telephone,may,mon,nonexistent,no
1,services,married,high.school,unknown,no,no,telephone,may,mon,nonexistent,no
2,services,married,high.school,no,yes,no,telephone,may,mon,nonexistent,no
3,admin.,married,basic.6y,no,no,no,telephone,may,mon,nonexistent,no
4,services,married,high.school,no,no,yes,telephone,may,mon,nonexistent,no

In [6]:
# Check for null values:

# If it's filled with zeros, then no null values.
print(pandas_obj.isnull().sum())

job            0
marital        0
education      0
default        0
housing        0
loan           0
contact        0
month          0
day_of_week    0
poutcome       0
y              0
dtype: int64

In [7]:
# Preprocessing Jobs
jobs = np.unique(dataset[:,1])
print(jobs)

['"admin."' '"blue-collar"' '"entrepreneur"' '"housemaid"' '"management"'
 '"retired"' '"self-employed"' '"services"' '"student"' '"technician"'
 '"unemployed"' '"unknown"']

In [8]:
# Replacing Values
# Note: job is the name of the column
replace_dict = { 
    'job' : {
        'unknown': 0,
        'admin.': 1,
        'blue-collar': 2,
        'entrepreneur': 3,
        'housemaid': 4,
        'management': 5,
        'services': 6
    }
}

# Use Pandas Replace operation
pandas_obj.replace(replace_dict, inplace = True)
pandas_obj.head()

# This gets all the categories into a label list.
pandas_labels = pandas_obj['education'].astype('category').cat.categories.tolist()
replace_dict['education'] = { 
    # We add + 1 because range is not inclusive.
    # zip creates a tuple. It pairs pandas_labels[0] with range[0].
    # Ex: (basic.4y, 1). Then we do that to assign the values
    k : v for k, v in zip(pandas_labels, range(1, len(pandas_labels) + 1))
}

print(replace_dict['education'])

{'basic.4y': 1, 'basic.6y': 2, 'basic.9y': 3, 'high.school': 4, 'illiterate': 5, 'professional.course': 6, 'university.degree': 7, 'unknown': 8}

In [9]:
# This will make it "more automatic" than the previous approaches
for column in pandas_obj:
    # column prints: job, marital, education, default, housing, loan, contact, month, day_of_week, poutcome, and the result
    column_labels = pandas_obj[column].astype('category').cat.categories.tolist()
    replace_dict[column] = {
        k : v for k, v in zip(column_labels, range(1, len(column_labels) + 1))
    }

# Verify:
#pp = pprint.PrettyPrinter(indent=2)
# pp.pprint(replace_dict)

# Label Encoding is the shorter approach, than the one above
# print(pandas_obj['day_of_week'].astype('category').cat.codes)

{ 'contact': {'cellular': 1, 'telephone': 2},
  'day_of_week': {'fri': 1, 'mon': 2, 'thu': 3, 'tue': 4, 'wed': 5},
  'default': {'no': 1, 'unknown': 2, 'yes': 3},
  'education': { 'basic.4y': 1,
                 'basic.6y': 2,
                 'basic.9y': 3,
                 'high.school': 4,
                 'illiterate': 5,
                 'professional.course': 6,
                 'university.degree': 7,
                 'unknown': 8},
  'housing': {'no': 1, 'unknown': 2, 'yes': 3},
  'job': { 0: 1,
           1: 2,
           2: 3,
           3: 4,
           4: 5,
           5: 6,
           6: 7,
           'retired': 8,
           'self-employed': 9,
           'student': 10,
           'technician': 11,
           'unemployed': 12},
  'loan': {'no': 1, 'unknown': 2, 'yes': 3},
  'marital': {'divorced': 1, 'married': 2, 'single': 3, 'unknown': 4},
  'month': { 'apr': 1,
             'aug': 2,
             'dec': 3,
             'jul': 4,
             'jun': 5,
             'mar': 6,
             'may': 7,
             'nov': 8,
             'oct': 9,
             'sep': 10},
  'poutcome': {'failure': 1, 'nonexistent': 2, 'success': 3},
  'y': {'no': 1, 'yes': 2}}
0        1
1        1
2        1
3        1
4        1
5        1
6        1
7        1
8        1
9        1
10       1
11       1
12       1
13       1
14       1
15       1
16       1
17       1
18       1
19       1
20       1
21       1
22       1
23       1
24       1
25       1
26       1
27       1
28       1
29       1
        ..
41158    3
41159    3
41160    3
41161    3
41162    3
41163    3
41164    3
41165    4
41166    4
41167    4
41168    4
41169    4
41170    4
41171    2
41172    2
41173    2
41174    2
41175    2
41176    2
41177    2
41178    2
41179    0
41180    0
41181    0
41182    0
41183    0
41184    0
41185    0
41186    0
41187    0
Length: 41188, dtype: int8

In [10]:
# This is an example, that I think it was going to work wery well for the future.
# If it contains 'US', then assign it 1, otherwise 0. 
# cat_df_flights_specific['US_code'] = np.where(cat_df_flights_specific['carrier'].str.contains('US'), 1, 0)

In [19]:
# See https://stackoverflow.com/questions/32011359/convert-categorical-data-in-pandas-dataframe

# pandas_obj.info()
pandas_columns = pandas_obj.select_dtypes(['object']).columns
# OMG, here we go again, naming variables... hahah
pandas_bear = pandas_obj.copy()

# This is what I'm talking about ;). One liner with Pandas.
pandas_bear[pandas_columns] = pandas_bear[pandas_columns].apply(lambda x: x.astype('category').cat.codes)

pandas_bear.head()

,job,marital,education,default,housing,loan,contact,month,day_of_week,poutcome,y
0,4,1,0,0,0,0,1,6,1,1,0
1,6,1,3,1,0,0,1,6,1,1,0
2,6,1,3,0,2,0,1,6,1,1,0
3,1,1,1,0,0,0,1,6,1,1,0
4,6,1,3,0,0,2,1,6,1,1,0